body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%; 
    margin: 0; 
}
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgrey;
    flex: 1;
}
aside {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.bird-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: lightblue;
    border-radius: 15px ;
}