body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
  margin: 0;
}
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: lightgrey;
  flex: 1;
}
aside {
  flex: 1;
  margin-right: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px;
}
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
.bird-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: lightblue;
  border-radius: 15px;
}
.bird-card img {
  width: 100%;
  height: auto;
}
.status-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px auto;
}
#bird-list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.status-key {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.status-key div {
  display: flex;
  align-items: center;
  margin: 0;
}
.status-key div span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}
.status-key div p {
  font-size: 15px;
  margin: 3px;
}
.not-threatened {
    background-color: #02a028;
}

.naturally-uncommon {
    background-color: #649a31;
}

.relict {
    background-color: #99cb68;
}

.recovering {
    background-color: #fecc33;
}

.declining {
    background-color: #fe9a01;
}

.nationally-increasing {
    background-color: #c26967;
}

.nationally-vulnerable {
    background-color: #9b0000;
}

.nationally-endangered {
    background-color: #660032;
}

.nationally-critical {
    background-color: #320033;
}

.extinct, .data-deficient {
    background-color: black;
}